.nav-bar__logo img,
.sidebar__logo img {
  content: url(https://avatars.githubusercontent.com/u/126340860?s=200&v=4);
}

:root {
  --sidebar-background: #0f3465;
  --page-and-panel-background: #1c51d8;
  --button-primary: #0bdfde;
  --button-secondary: #75bdbd;
  --button-disabled: #6b7c7c;
  --primary: #1f639b;
}

.sidebar,
.nav-bar {
  background: var(--sidebar-background);
}

.page__content-wrapper {
  background: var(--page-and-panel-background) !important;
}

.sliding-panel__header,
.sliding-panel__body {
  background: var(--page-and-panel-background) !important;
}

/* primary */
.argo-button--base,
.argo-button--base:hover {
  background: var(--button-primary) !important;
}

.argo-button--base:hover {
  background: var(--button-primary) !important;
  opacity: 0.8 !important;
}

/* secondary */
.argo-button--base-o {
  color: var(--button-primary) !important;
  box-shadow: inset 0 0 0 1px var(--button-primary) !important;
}

.argo-button--base-o:hover,
.argo-button--base-o:focus {
  background: var(--button-secondary) !important;
  color: #fff !important;
  box-shadow: inset 0 0 0 1px var(--button-secondary) !important;
}

/* disabled */
.argo-button.disabled,
.argo-button[disabled] {
  background: var(--button-disabled) !important;
}

a,
/* title of the each item in list in settings page */
.settings-overview__redirect-panel__title,
.selected,
.top-bar__title {
  color: var(--primary) !important;
}

.tabs__indicator {
  background: var(--primary) !important;
}


.pod-view__settings__section {
  color: #fff !important;
}

.theme-dark .white-box {
    color: #ffffff;

    background: linear-gradient(-45deg, #4472e7, #1c51d8, #4472e7);
    animation: gradient 15s ease infinite;
}

/* Node Collection box*/
.white-box {
    border-color: #a9dcff;
    border-width: 1px;
    border-style: solid;
}

/* Pods */
.pod-view__node__pod--succeeded, .pod-view__node__pod--healthy {
    background: linear-gradient(-45deg, #985eab, #82319d, #985eab);
    animation: gradient 15s ease infinite;
}

.pod-view__node__pod__new-pod-icon {
    color: violet;
}

/* Stats */
.pod-view__node__pod__stat__bar--fill {    
    background-color: #82319d;
}
.pod-view__node__pod__stat__bar--neighbors {
    background-color: #92769b;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}