:root {
  --sidebar-background: #005dd9;
  --page-and-panel-background: linear-gradient(
    to top left,
    rgb(0 0 0) 0%,
    rgb(2 13 72 / 50%) 50%,
    rgb(0 0 0) 100%
  );
  --button-primary: #00a9cf;
  --button-secondary: #00ffff;
  --button-disabled: #00ffff78;
  --primary: #ffffff;
  --primary-negative: #000000;
}

body {
  background: black;
}

.nav-bar__logo img,
.sidebar__logo img {
  content: url(https://avatars.githubusercontent.com/u/126340860?s=200&v=4);
}

.login {
  background-image: url(https://img.freepik.com/free-photo/space-galaxy-background_53876-93121.jpg?w=1800&t=st=1689423506~exp=1689424106~hmac=ec504fb1a8c0c711f22549b94185284d1055bbcaf075ec3d3ade231ff4996d59);
  background-repeat: no-repeat;
  background-size: cover;
}

.application-details .graph-options-panel,
.application-status-panel,
.theme-dark .application-status-panel,
.top-bar,
.theme-dark .top-bar {
  background: #194bc94f;
}

.sliding-panel__header,
.sliding-panel__wrapper,
.sliding-panel__body,
.sidebar,
.nav-bar,
.login__box {
  background: linear-gradient(
    to top left,
    rgb(85 0 190 / 30%) 0%,
    rgb(3 9 96 / 30%) 33%,
    rgb(93 43 135 / 30%) 66%,
    rgb(24 72 33 / 30%) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.applications-list__search,
.top-bar__right-side,
.top-bar__left-side {
  background: transparent;
  background-color:transparent;
}

.top-bar {
  border-bottom: 2px solid #009dff5e
}

.application-status-panel__item:not(:first-child) {
  border-left: 2px solid #009dff5e;
}

.sliding-panel__header,
.sliding-panel__wrapper,
.sliding-panel__body,
.sidebar,
.nav-bar,
.login__box {

}

.theme-dark .argo-table-list__row {
  background: #0079ff5c;
  border: #00a0ff;
  border-style: solid;
  border-width: 1px;

  animation: gradient 15s ease infinite;
}

.sidebar__nav-item,
.sidebar__version,
.argo-field {
  color: white;
}

.page__content-wrapper {
  background: var(--page-and-panel-background) !important;
}

/* primary */
.argo-button--base,
.argo-button--base:hover {
  background: var(--button-primary) !important;
}

.argo-button--base:hover {
  background: var(--button-primary) !important;
  opacity: 0.8 !important;
}

/* secondary */
.argo-button--base-o {
  color: var(--button-primary) !important;
  box-shadow: inset 0 0 0 1px var(--button-primary) !important;
}

.argo-button--base-o:hover,
.argo-button--base-o:focus {
  background: var(--button-secondary) !important;
  color: #fff !important;
  box-shadow: inset 0 0 0 1px var(--button-secondary) !important;
}

/* disabled */
.argo-button.disabled,
.argo-button[disabled] {
  background: var(--button-disabled) !important;
}

a,
/* title of the each item in list in settings page */
.settings-overview__redirect-panel__title,
.selected {
  color: #ffffff !important;
}

.tabs__indicator {
  background: var(--primary) !important;
}

.pod-view__settings__section {
  color: #fff !important;
}

.theme-dark .white-box {
  color: #ffffff;

  background: linear-gradient(-45deg, #4472e7, #1c51d8, #4472e7);
  animation: gradient 15s ease infinite;
  
  background-size: 400% 400%;
}

/* Node Collection box*/
.white-box {
  border-color: #a9dcff;
  border-width: 1px;
  border-style: solid;
}

/* Pods */
.application-resource-tree__node--lower-section__pod-group__pod,
.pod-view__node__pod--succeeded,
.pod-view__node__pod--healthy {
  background: linear-gradient(-45deg, #985eab, #82319d, #985eab);
  animation: gradient 15s ease infinite;
  
  background-size: 400% 400%;
}

.application-resource-tree__node--lower-section__pod-group__pod-container__pods,
.pod-view__node__pod-container__pods,
.pod-view__node__info--large {
  background: #ffffff1a;
  color:white;
  border-radius: 5px;
}

.pod-view__node__pod__new-pod-icon {
  color: violet;
}

/* Stats */
.pod-view__node__pod__stat__bar--fill {
  background-color: #82319d;
}
.pod-view__node__pod__stat__bar--neighbors {
  background-color: #92769b;
}

.icon {
  color: #43a1e9;
}
.fa-cloud {
  color: #8a23b1;
}
.fa-check {
  color: var(--button-secondary);
  background-color: #00000000;
}
.fa-star {
  background: transparent;
}

.theme-dark .application-resource-tree__node {
  background: #006dffc9;
}

.application-resource-tree__line {
  color: #8a23b1;
}

.checkbox {
  border-color: var(--button-primary);
  border-width: 1px;
}

.filter__header,
.fa-caret-up,
.fa-caret-down,
.filter {
  color: var(--primary);
}

.application-resource-tree__node-kind {
  color: var(--primary);
}

.application-resource-tree__node-kind-icon img {
  color: var(--primary);
  stroke: #c52727;
  fill: #c52727;
}

/* Labels */
.application-resource-tree__node {
   color: var(----primary-negative);
}

.application-resource-tree__node-label {
    padding: 2px 7px;
}

.autocomplete__items {
  background-color: black;
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
